*{
    padding: 0px;
    margin-top: 0px;
    
}
.top{
    width: 100%;
}
.logo img{
    height: 50px;
    width: 50px;
}
.logo p{
    font-size: 40px;
    font-weight: bold;
    color: #215EB6;
}
.logo{
    display: flex;
}
.first{
    height: 100%;
    width: 100%;
    background-image: url('rm222-mind-30.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu{
    margin-left: 330px;
}
.menu img{
    height: 30px;
    width: 30px;
    margin-top: 17px;
}   
.top{
    display: flex;
}
.content{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 500px;
    width: 60%;
    height: 100%;
}
.content h3{
    color: #215EB6;
    margin-top: 0px;
}
.content button{
    height: 45px;
    width: 140px;
    color: black;
    border-radius: 10px;
    border-spacing: 20px;
    font-size: 20px;
    background: #215EB6;
}
.content button:hover{
    background-color: aquamarine;
}
.form{
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 30px;
    height: 50%;
    width: 30%;
    font-size: 30px;
    /*margin-top: -13%;*/
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 20px;
    background-color: transparent;
}
.form #sign{
    text-align: center;
}
.form input[type="text"],
      input[type="password"],
      input[type="email"]{
    height: 40px;
    width: 80%;
    color: black;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 20px;
    background: transparent;
}
.form input[type="submit"]{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    color: black;
    background-color: #215EB6;
    margin-left: 150px;
    font-size: 20px;
}
.form input[type="submit"]:hover{
    background-color: aquamarine;
    transform: scaleX(1.1);
}
.form p{
    margin-left: 20px;
}
.form #acc{
    text-align: center;
    font-size: 25px;
    margin-right: 50px;
    text-decoration: none;
}
.both{
    height: 100%;
    display: flex;
}
.meta{
    text-align: right;
    margin-right: 50px;
}
.meta p{
    font-size: 40px;
    font-weight: 100px;
}
.meta img{
    height: 55px;
    width: 55px;
    margin-right: 70px;
    margin-bottom: 40px;
}
.next{
    text-align: center;
    font-size: 30px;
    border: 1px solid white;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}
.next img{
    height: 200px;
    width: 200px;
    padding: 10px;
}
