*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.logo{
    display: flex;
}
.logo img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
}
.logo h1{
    font-size: 30px;
    font-weight: 600px;
    color: blue;
    margin-top: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 3px solid #a8c8e6;;
}  
.navlist .premium{
    margin: 10px 10px 0 0;
    padding: 5px;
    
}
.navlist .premium P{
    margin: 10 80px 0 0;
    font-size: 23px;
    font-weight: 400;
}
.navlist .premium img{
    position: absolute;
    width: 25px;
    height: 30px;
    margin-right: 50px;
    border: 1px solid black;
    border-radius: 50%;
}     